<header>
    <header>
        <nav>
            <div class="left">Vidhya's Portfolio</div>

            <div class="menu-btn" id="menuBtn">
                <i class="fas fa-bars"></i>
            </div>

            <div class="right" id="navLinks">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <!-- <li><a href="/contact-me">Contact Me</a></li> -->
                </ul>
            </div>
        </nav>
    </header>
</header>