<% layout("/layouts/boilerplate"); %>
<section class="container py-5" id="contact">

    <h2 class="section-title text-center mb-5">
        Contact Me
    </h2>

    <div class="row justify-content-center">

        <div class="col-lg-7">

            <form action="/contact" method="POST" id="contactForm" novalidate>

                <!-- Name -->
                <div class="mb-3">

                    <label for="name" class="form-label">
                        Full Name
                    </label>

                    <input type="text" name="name"  class="form-control" id="name" placeholder="Enter your name">

                    <div class="invalid-feedback">
                        Name must be at least 3 characters.
                    </div>

                    <div class="valid-feedback">
                        Looks good!
                    </div>

                </div>

                <!-- Email -->
                <div class="mb-3">

                    <label for="email" class="form-label">
                        Email Address
                    </label>

                    <input type="email" name="email" class="form-control" id="email" placeholder="example@gmail.com">

                    <div class="invalid-feedback">
                        Please enter a valid email.
                    </div>

                    <div class="valid-feedback">
                        Looks good!
                    </div>

                </div>

                <!-- Subject -->
                <div class="mb-3">

                    <label for="subject" class="form-label">
                        Subject
                    </label>

                    <input type="text" name="subject" class="form-control" id="subject" placeholder="Subject">

                    <div class="invalid-feedback">
                        Subject cannot be empty.
                    </div>

                </div>

                <!-- Message -->
                <div class="mb-2">

                    <label for="message" class="form-label">
                        Message
                    </label>

                    <textarea id="message" name="message" rows="5" class="form-control" placeholder="Write your message..."></textarea>

                    <div class="d-flex justify-content-between">

                        <small id="charCount">
                            0 / 300
                        </small>

                        <div class="invalid-feedback">
                            Message must contain at least 20 characters.
                        </div>

                    </div>

                </div>

                <button id="submitBtn" class="btn btn-primary mt-4" >

                    Send Message

                </button>

            </form>

        </div>

    </div>

</section>
<script src="/js/contact.js"></script>