<% layout("/layouts/boilerplate"); %>

   
    
        <section class="firstSection">
            <div class="leftSection">
                Hi, My name is
                <span class="purple">Vidhya</span>
                <div>
                    I am a Passionate
                    <span id="element"></span>
                </div>
                <div class="buttons">
                    <button type="button" class="custom-btn custom-btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Download CV
                    </button>
                    
                
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Download my CV</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Do you want to download my cv , then click on download.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="/download-cv" class="btn btn-primary">
                                    Download CV
                                </a>
                                    <a href="/resume/Vidhya_Mewara_Resume.pdf" target="_blank" class="btn btn-primary">
                                        View Resume
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button  class="custom-btn custom-btn-secondary" onclick="window.location.href='/contact'">Contact Me</button>
                </div>
            </div>
            <div>
                
            </div>
            <div class="rightSection">
                <img src="/bg.png" alt="profile picture">
            </div>
        </section>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        
            <strong>Available for Freelance!</strong>
            I'm currently open to internships and full-stack development opportunities.
        
            <button type="button" class="btn-close" data-bs-dismiss="alert">
            </button>
        
        </div>

    
  